body {
  background-color: #f5eaef;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Bodoni Moda", serif;
  overflow: auto;
}

.container img {
  max-width: 80%;
  border-radius: 10px;
}

header {
  background-color: #FCD0E8;
}
header .logo-home {
  border-radius: 50px;
  width: 80px;
}

footer {
  background-color: #FCD0E8;
}
footer img {
  width: 100px;
}